:root {
  --bg-color: #e9ecef;
  --bg-color-dark: #212529;
  --color-orange: #ff5700;
}

body {
  background-color: var(--bg-color-dark);
}

button {
  border: none;
  box-shadow: unset;
  background-color: transparent;
  padding: 3px 5px;
  cursor: pointer;
}
aside {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

button:focus,
input:focus {
  outline: none;
}

header {
  display: flex;
  width: 100vw;
  height: 110px;
  background-color: var(--bg-color-dark);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  z-index: 2;
}

section {
  width: 100vw;
}

.logo-container svg {
  height: 90px;
  width: 90px;
}
ul {
  width: 80%;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.top-links button {
  color: white;
  background: unset;
  margin-left: 10px;
}

header .buy-ticket {
  align-items: flex-end;
}

.buy-ticket {
  color: white;
  background: var(--color-orange);
  border-radius: 25px;
  width: 8vw;
  max-width: 220px;
  min-width: 130px;
  padding: 5px 0 5px 0;
}

.primary-button {
  background: white;
  border-radius: 25px;
  width: 8vw;
  max-width: 220px;
  min-width: 130px;
  white-space: nowrap;
  padding: 5px 0 5px 0;
}

.hero {
  width: 100vw;
  position: relative;
  padding-top: 110px;
}

.hero img {
  width: 100%;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.details-container {
  display: flex;
  justify-content: space-evenly;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 83vw;
  max-width: 500px;
}
.buttons button {
  /* margin-left: 2rem; */
  display: flex;
  justify-content: center;
  max-width: 45%;
}
.buttons .text-container div {
  display: flex;
  justify-content: center;
}

.read-more {
  position: absolute;
  bottom: 70px;
  left: -5px;
}

.meet-future {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.meet-future .container {
  width: 84%;
  max-width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  width: 100%;
  background-color: white;
  display: flex;
}

.info-container .text-div {
  width: 50%;
  color: var(--bg-color-dark);
  padding: 4.25rem 1.5rem 2rem 2.25rem;
}

.info-container img {
  width: 50%;
}

.film {
  width: 100vw;
  position: relative;
}

.film video {
  width: 100%;
  opacity: 58%;
}

.contest {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.contest .container {
  width: 84vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-info {
  margin: 10px 0px 25px;
}

.darkened {
  filter: brightness(50%) contrast(1.02);
}

.play-button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button svg {
  width: 150px;
  height: 150px;
}

.contest {
  background: var(--bg-color);
  padding-top: 45px;
}

.contest-text {
  width: 100%;
  max-width: 700px;
}

.contest-text h1 {
  margin-bottom: 30px;
}

.img-container img {
  width: 45%;
  object-fit: contain;
}

.img-container {
  display: flex;
  flex-direction: column;
  width: 110%;
  transform: translate(-5%, 0%);
  align-items: center;
  margin-bottom: 50px;
}

.upper-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 50px;
}
.skew-image {
  transform: translateY(25px);
  margin-bottom: 25px;
}

.negative-skew-image {
  transform: translateY(-25px);
}

.inspiration {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspiration .carousel {
  width: 50%;
}

.links {
  width: 100vw;
  display: flex;
}

.links img {
  width: 50%;
}
