:root {
  --bg-color: #e9ecef;
  --bg-color-dark: #212529;
  --color-orange: #ff5700;
}
.hidden {
  display: none;
}

.red-heart {
  fill: red;
}

html {
  scroll-behavior: smooth;
  color: var(--bg-color-dark);
}

body {
  background-color: var(--bg-color-dark);
}

a {
  text-decoration: none;
}

button {
  border: none;
  box-shadow: unset;
  background-color: transparent;
  padding: 3px 5px;
  cursor: pointer;
}

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-dark);
  color: white;
  z-index: 101;
  transition: all 700ms ease-in-out;
}
.preloader div {
  transition: all 400ms ease-out;
}
.preloader div svg {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  width: 100px;
  height: 100px;
}

.disappear {
  opacity: 0;
  z-index: -1;
}
.disappear-spinner {
  opacity: 0;
  z-index: -1;

  transform: translateY(-300px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#open-hours-button {
  padding: 0px;
}
aside {
  display: flex;
  align-items: center;
  padding-right: 40px;
  position: absolute;
  left: calc(50% - 600px);
  top: calc(50% - 26px);
}

button:focus,
input:focus {
  outline: none;
}

header {
  display: flex;
  width: 100vw;
  height: 110px;
  background-color: var(--bg-color-dark);
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
  position: fixed;
  z-index: 100;
}

section {
  width: 100vw;
  position: relative;
}

.logo-container svg {
  height: 90px;
  width: 90px;
}
ul {
  height: 100%;
  width: 100%;
  margin-right: 10px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
header ul li {
  height: 100%;
}
header ul li a {
  height: 100%;
  padding: 3px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

header ul li a:hover {
  background: #ffffff05;
}

.top-links {
  display: flex;
  align-items: center;
}

.top-links a {
  color: white;
  background: unset;
  margin-left: 10px;
}

#search {
  cursor: auto;
}

#search:hover {
  background: none;
}
#search svg {
  width: 30px;
}

header .buy-ticket {
  align-items: flex-end;
}

.buy-ticket {
  color: white;
  background: var(--color-orange);
  border-radius: 25px;
  width: 8vw;
  max-width: 220px;
  min-width: 130px;
  padding: 5px 0 5px 0;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.buy-ticket:hover {
  color: #212529;
  background-color: white;
}

.primary-button {
  background: white;
  border-radius: 25px;
  width: 8vw;
  max-width: 220px;
  min-width: 130px;
  white-space: nowrap;
  padding: 5px 0 5px 0;
  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: #ff5700;
  color: white;
}

.container p {
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero {
  width: 100vw;
  position: relative;
  padding-top: 110px;
}

.hero img {
  width: 100%;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  transform: translate(-50%, -50%);
}
.text-container .white-text {
  margin-top: 10px;
}
.details-container {
  display: flex;
  justify-content: center;
}
.details-container p {
  margin: 10px 20px;
}
.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.buttons button,
.buttons a {
  /* margin-left: 2rem; */
  display: flex;
  justify-content: center;
  max-width: 45%;
  margin: 5px 20px;
}

.buttons .text-container div {
  display: flex;
  justify-content: center;
}

.read-more {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 70px;
  left: -5px;
  white-space: nowrap;
}

.read-more svg {
  margin-right: 12px;
  height: 40px;
  width: 30px;
  transform: rotate(90deg);
}

.meet-future {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  position: relative;
}

.meet-future .container {
  width: 84%;
  max-width: 650px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  width: 100%;
  background-color: white;
  display: flex;
}
.info-container button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: auto;
}
.info-container button svg {
  width: 50px;
  height: 20px;
  transform: rotate(-90deg);
}

.info-container .text-div {
  width: 50%;
  color: var(--bg-color-dark);
  padding: 4.25rem 1.5rem 2rem 2.25rem;
}

.info-container img {
  width: 50%;
}

.price-container {
  margin-bottom: 5rem;
}
.price-container .info-container {
  margin: 1rem 0 1rem 0;
}
.film {
  width: 100vw;
  position: relative;
}

.film video {
  width: 100%;
  opacity: 58%;
}

.contest {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  position: relative;
}

.contest .container {
  width: 84vw;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-info {
  margin: 10px 0px 25px;
  display: flex;
  align-items: center;
}
.location-info svg {
  height: 1rem;
  margin-right: 5px;
}

.darkened {
  filter: brightness(50%) contrast(1.02);
}

.play {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play svg {
  width: 150px;
  height: 150px;
}

.contest {
  background: var(--bg-color);
  padding-top: 45px;
}

.contest-text {
  width: 100%;
  max-width: 650px;
}

.contest-text h1 {
  margin-bottom: 30px;
}

.img-container img {
  width: 45%;
  object-fit: contain;
}

.img-container {
  display: flex;
  flex-direction: column;
  width: 110%;
  transform: translate(-5%, 0%);
  align-items: center;
  margin-bottom: 50px;
}

.upper-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 50px;
}
.skew-image {
  transform: translateY(25px);
  margin-bottom: 25px;
}

.negative-skew-image {
  transform: translateY(-25px);
}

.inspiration {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspiration .carousel {
  width: 50%;
}

.links {
  width: 100vw;
  display: flex;
}

.links img {
  width: 100%;
  height: 32vw;
  object-fit: cover;
}

.links div {
  position: relative;
}

.links div p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 4rem;
  line-height: 5.1rem;
  margin: 0px;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
}

.open-hours-container {
  display: flex;
  width: 100%;
  max-width: 650px;
  justify-content: space-evenly;
}

.carousel-2 {
  width: 100vw;
  height: calc(100vh - 110px);
}

.carousel-2 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-2 .flickity-button {
  color: white;

  width: 200px;
  height: 200px;
}

.form {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 6rem 0;
  position: relative;
}

.form form {
  width: 80%;
  max-width: 650px;
}
.form input {
  padding: 10px 0;
  font-size: 16px;
  color: var(--bg-color-dark);
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid var(--bg-color-dark);
  outline: none;
  background: transparent;
}

.form p {
  width: 90%;
  max-width: 650px;
  line-height: 20px;
}

.form form div {
  display: flex;
  flex-direction: column;
}

.form .radio {
  margin: 2rem 0;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.radio input {
  margin: 0 10px 0 0;
}

.submit-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.map-section {
  background: var(--bg-color);
}

.map {
  width: 100vw;
  object-fit: contain;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: var(--bg-color);
  min-height: 22vw;
}

footer h6 {
  z-index: 2;
  margin-top: 55px;
  font-size: 2rem;
}

footer ul {
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  height: unset;
}

footer ul li {
  margin: 7px 0px;
}

footer ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--bg-color-dark);
}

.social-media {
  display: flex;
  justify-content: center;
}
.social-media svg {
  width: 23px;
  margin: 0px 7px;
}

.snowflake-container {
  position: absolute;
  left: -200px;
  top: calc(50% - 170px);
  z-index: -0;
  height: 450px;
  overflow: hidden;
}

.instagram-image {
  width: 90vw;
  max-width: 400px;
  height: 550px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: -1px 3px 6px #00000066;
}
.profile {
  display: flex;
  width: 100%;
  align-items: center;
}
.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 5px 0 10px;
}
.instagram-image img {
  width: 100%;
  max-width: 400px;
}

.like button {
  margin-left: 5px;
}

.instagram-container p {
  text-align: center;
  margin: 10px 0px 2.5rem 0px;
}
.snowflake {
  height: 100%;
}

.navigate-to {
  position: absolute;
  top: -110px;
}

#contact-img,
#open-hours-img {
  transition: all 0.1s ease-in-out;
}

.static-buttons {
  display: none;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 0px;
  z-index: 3;
  padding: 0 1rem 2rem 0;
}

.arrow-up,
.my-ticket {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50%;
  width: 60px;
  padding: 5px;
  height: 60px;
  justify-content: center;
  margin: 0.5rem;
}

.arrow-up svg {
  height: 25px;
  width: 25px;
}

.my-ticket svg {
  height: 30px;
  width: 30px;
}

#prices,
#open-hours {
  display: none;
}
