@media only screen and (orientation: portrait) {
  .topbar {
    display: none;
  }
  header .buy-ticket {
    display: none;
  }
  .portrait-hero-image {
    height: 130vw;
    object-fit: cover;
    width: 100vw;
  }
  a.read-more {
    display: none;
  }
  section aside {
    display: none;
  }
  section.meet-future {
    padding-top: 1.5rem;
  }
  .info-container {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  div .info-container .text-div {
    width: 100%;
    text-align: center;
    padding: 3rem 1rem 2.5rem 1rem;
  }

  div .info-container img {
    width: 100%;
  }
  .film .play-button svg {
    width: 20%;
  }
  .img-container .upper-images img {
    width: 50%;
    margin-top: 40px;
  }

  .img-container div.upper-images {
    margin-top: 0px;
  }
  div .img-container {
    width: 100vw;
    transform: unset;
    display: flex;
    align-items: flex-start;
  }
  .img-container .upper-images {
    width: 100%;
    display: block;
  }

  img.skew-image {
    float: right;
  }
  div .img-container .upper-images img {
    width: 70%;
  }

  .img-container > img.aos-init {
    width: 70%;
  }

  h4.contest-heading {
    margin-top: 0px;
    text-align: center;
  }
  .links {
    flex-direction: column;
  }
  .links div img {
    height: 64vw;
    width: 100%;
  }
  div.carousel-2 {
    height: 33vh;
  }

  div.carousel-2 .flickity-button {
    width: 4rem;
  }

  div.static-buttons {
    display: flex;
  }
}
@media only screen and (max-width: 1000px) {
  .topbar {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  h1.heading {
    font-size: 2.2rem;
  }
  .meet-winners h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
  .mobile-form-text {
    margin-left: 2rem;
  }
  div#map {
    height: 70vh;
  }
}
@media only screen and (max-width: 400px) {
  div.instagram-image {
    height: 500px;
  }
}
