:root {
  --bg-color: #e9ecef;
  --bg-color-dark: #212529;
}

body {
  background-color: var(--bg-color);
}

header {
  display: flex;
  width: 100vw;
  height: 160px;
  background-color: var(--bg-color-dark);
}

.logo-container {
  height: 100px;
  width: 100px;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.top-links {
  color: white;
}

.buy-ticket {
  color: white;
  background: #ff5700;
  border-radius: 25px;
  width: 8vw;
  max-width: 220px;
  min-width: 100px;
  height: 40px;
  align-items: flex-end;
}
